<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>导航管理</h2>
    </div>

    <div class="cf">
        <a class="btn" href="{:U('add','pid='.$pid)}">新 增</a>
        <a class="btn" href="javascript:;">删 除</a>
        <button class="btn list_sort" url="{:U('sort',array('pid'=>I('get.pid',0)),'')}">排序</button>
    </div>

    <div class="data-table table-striped">
        <table>
            <thead>
            <tr>
                <th class="row-selected">
                    <input class="checkbox check-all" type="checkbox">
                </th>
                <th>ID</th>
                <th>报修人</th>
                <th>报修内容</th>
                <th>报修标题</th>
                <th>报修时间</th>
                <th>电话</th>
                <th>处理状态</th>
                <th>报修地址</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="index">
                <volist name="index" id="Guarantee">
                    <tr>
                        <td><input class="ids row-selected" type="checkbox" name="" id="" value="{$Guarantee['id']}"> </td>
                        <td>{$Guarantee.id}</td>
                        <td><a href="{:U('index?pid='.$Guarantee['id'])}">{$Guarantee.name}</a></td>
                        <td>{$Guarantee.content}</td>
                        <td>{$Guarantee.title}</td>
                        <td>{$Guarantee.create_time|time_format}</td>
                        <td>{$Guarantee.tel}</td>
                        <td>{$Guarantee.status}</td>
                        <td>{$Guarantee.path}</td>
                        <td>
                            <a title="编辑" href="{:U('edit?id='.$Guarantee['id'].'&pid='.$pid)}">编辑</a>
                            <a href="{:U('setStatus?ids='.$Guarantee['id'].'&status='.abs(1-Guarantee['status']))}" class="ajax-get">{$channel.status|show_status_op}</a>
                            <a class="confirm ajax-get" title="删除" href="{:U('del?id='.$Guarantee['id'])}">删除</a>
                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
            </notempty>
            </tbody>
        </table>
        <div class="result page">{$page}</div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        $(function() {
            //点击排序
            $('.list_sort').click(function(){
                var url = $(this).attr('url');
                var ids = $('.ids:checked');
                var param = '';
                if(ids.length > 0){
                    var str = new Array();
                    ids.each(function(){
                        str.push($(this).val());
                    });
                    param = str.join(',');
                }

                if(url != undefined && url != ''){
                    window.location.href = url + '/ids/' + param;
                }
            });
        });
    </script>
</block>