<extend name="Base/base"/>
<block name="main">
    <volist name="index" id="Document">
        <div class="row noticeList">
            <div class="col-xs-2">
                <?php $Picture=M('Picture')->where(['id'=>$Document['cover_id']])->select();?>
                <img class="noticeImg" src="./<?php echo $Picture[0]['path']?>"/>
            </div>
            <div class="col-xs-10">
                <p class="title"><a href="{:U('guarantee/sort?id='.$Document['id'])}">{$Document.title}</a></p>
                <p class="intro">{$Document.description}</p>
                <p class="info">浏览:{$Document.view} <span class="pull-right"><?=date('Y-m-d',$Picture[0]['create_time'])?></span> </p>
            </div>
        </div>
    </volist>
</block>

